header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

header > a {
    border: 0;
    background-color: #211D2E;
    color: #F7F7FF;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: 5px;
    transition: all .2s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    text-decoration: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
th,
td {
    padding: 6px 15px;
}
th {
    background: #42444e;
    color: #F7F7FF;
    text-align: left;
}
tr:first-child th:first-child {
    border-top-left-radius: 6px;
}
tr:first-child th:last-child {
    border-top-right-radius: 6px;
}
td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
    word-break: break-word;
}
td:first-child {
    border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
    background: #eaeaed;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.status-message {
    width: 100%;
    text-align: center;
}

td svg {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}

svg#pencil {
    color: #211D2E;
}

svg#trash {
    fill: #E63946;
}

td.small-centered, th.small-centered {
    text-align: center;
    width: 3em;
}
